.auth__main {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.auth__box-container{
    background-color: #fff;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;

}