.notes__main-content{
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color:$primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}